html, body{
    overflow: hidden;
    height: 100%;
    margin: 0;
}

body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/314/465/original/cartoon-money-seamless-background-pattern-free-vector.jpg);
    background-size: 100px 100px;
    animation: background-loop 2s linear 0s infinite;
}
@keyframes background-loop{
    from{
        background-position: 0px 0px;
    }
    to{
        background-position: 200px 200px;
    }
}

h1 {
    text-align: center;
    color: black;
    font-family: Arial;
    font-size: 50px;
}

div {
    font-family: Arial;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
}

div button {
    font-size: 60px;
    padding: 1px 5px;
    width: 400px;
    height: 120px;
    border-width: 5px;
}

div button:active{
    animation: buttonclick 0.2s ease-in-out;
}
@keyframes buttonclick{
    0%{
        width: 400px;
        height: 120px;
        color: grey;
    }
    25%{
        font-size: 67px;
        width:420px;
        height:140px;
    }
    100%{
        width: 400px;
        height: 120px;
        color: black;
    }
}